.DS_Store
*/.DS_Store
.idea
app/.idea/workspace.xml
app/data/install.lock
app/install/webapp/_cache/
app/install/webapp/_compile/
app/LKT/accessToken
app/LKT/webapp/_compile/
app/LKT/webapp/_cache/
app/LKT/webapp/config/db_config.php
app/install/webapp/config/db_config.php
app/LKT/images/
miniprogram/project.config.json
miniprogram/utils/util.js