<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.ProLabelModelMapper">

    <sql id="selectDynamicSQL">
        <if test="store_id != null">and a.store_id = #{store_id}</if>
        <if test="id != null">and a.id = #{id}</if>
        <if test=" name != null and name != '' ">and a.name like concat('%',#{name},'%')</if>
    </sql>

    <select id="selectDynamic" parameterType="Map" resultType="Map">
        select *
        from lkt_pro_label a
        <where>
            <include refid="selectDynamicSQL"/>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="add_time_sort!=null and add_time_sort!=''">add_time ${add_time_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countDynamic" parameterType="Map" resultType="int">
        select count(1)
        from lkt_pro_label a
        <where>
            <include refid="selectDynamicSQL"/>
        </where>
    </select>
</mapper>