<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laiketui.common.mapper.RoleModelMapper">
    <sql id="selectRoleInfoSQL">
        <if test="id!=null">and id = #{id}</if>
        <choose>
            <when test="store_id_pt!=null">and store_id in(0,#{store_id_pt})</when>
            <otherwise>
                <if test="store_id!=null">and store_id = #{store_id}</if>
            </otherwise>
        </choose>
        <if test="status!=null">and `status` = #{status}</if>
    </sql>
    <select id="selectRoleInfo" parameterType="Map" resultType="Map">
        select * from lkt_role
        <where>
            <trim prefixOverrides="and">
                <include refid="selectRoleInfoSQL"/>
            </trim>
        </where>
        <trim prefix="order by" suffixOverrides=",">
            <if test="add_date_sort!=null and add_date_sort!=''">add_date ${add_date_sort},</if>
        </trim>
        <if test="pageStart != null and pageEnd != ''">limit #{pageStart},#{pageEnd}</if>
    </select>
    <select id="countRoleInfo" parameterType="Map" resultType="int">
        select count(1) from lkt_role
        <where>
            <trim prefixOverrides="and">
                <include refid="selectRoleInfoSQL"/>
            </trim>
        </where>
    </select>
</mapper>