body {
    -webkit-perspective: 800px;
    perspective: 800px;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Gudea', sans-serif;
    background-image: url("../../../images/bg.png");
    /* Old browsers */
    /* FF3.6+ */

    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EA5C54 ', endColorstr='#bb6dec',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}
body ::-webkit-input-placeholder {
    color: #4E546D;
}
body .authent {
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
    display: none;
    background: #35394a;
    /* Old browsers */
    /* FF3.6+ */

    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: linear-gradient(230deg, rgba(53, 57, 74, 0) 0%, rgb(0, 0, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(53, 57, 74, 0)', endColorstr='rgb(0, 0, 0)',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    position: absolute;
    left: 0;
    right: 0px;
    margin: auto;
    width: 400px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 70px;
    top: 100px;
    bottom: 0;
    height: 300px;
    opacity: 0;
}
body .authent p {
    font-size: 30px;
    text-align: center;
    color: white;
}
body .success {
    display: none;
    color: #d5d8e2;
}
body .success p {
    font-size: 14px;
}
body p {
    color: #D3D7F7;
    font-size: 14px;
    text-align: center;
}
body .testtwo {
    left: -320px !important;
}
body .test {
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
    pointer-events: none;
    top: -100px !important;
    -webkit-transform: rotateX(70deg) scale(0.8) !important;
    transform: rotateX(70deg) scale(0.8) !important;
    opacity: .6 !important;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}
body .login
{
    opacity: 1;
    text-align: center;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
    -webkit-transition-property: -webkit-transform,opacity,box-shadow,top,left;
    transition-property: transform,opacity,box-shadow,top,left;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transform-origin: 161px 100%;
    -ms-transform-origin: 161px 100%;
    transform-origin: 161px 100%;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    position: relative;
    width: 33%;
    /*border-top: 2px solid #D8312A;*/
    height: 67%;
    margin: auto;
    padding: 40px;
    background: rgba(0,0,0,0.7);
    /* Old browsers */
    /* FF3.6+ */
    /*background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #35394a), color-stop(100%, rgb(0, 0, 0)));*/
    /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(230deg, rgba(53, 57, 74, 0) 0%, rgb(0, 0, 0) 100%);*/
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    /*background: linear-gradient(230deg, rgba(53, 57, 74, 0) 0%, rgb(0, 0, 0) 100%);*/
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(53, 57, 74, 0)', endColorstr='rgb(0, 0, 0)',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}
body .login .validation {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 14px;
    opacity: 0;
}
body .login .disclaimer {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}
body .login_title {
    color: #333333;
    text-align: center;
    font-size: 30px;
}
.login_title p{
    margin: 10px 0px;
}
body .login_fields {
    margin-top: 10px;
    height: 208px;
    position: absolute;
    left: 0;
    width: 100%;
}
body .login_fields .icon {
    position: absolute;
    z-index: 1;
    left: 8px;
    top: 0;
    opacity: 1;
    height: 100%;
    display: flex;
    align-items: center;
}
body .login_fields .icon img{
    margin-top: 0px;
    position: absolute;
}
input::-webkit-input-placeholder{
    color:#97a0b4!important;
    font-size: 14px;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#97a0b4!important;
    font-size: 14px;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#97a0b4!important;
    font-size: 14px;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#97a0b4!important;
    font-size: 14px;
}

body .login_fields input[type='password'],body .login_fields input[type='text'] {
    color: #fff !important;
}
body .login_fields input[type='text'], body .login_fields input[type='password'] {
    background: transparent;
    border: 1px solid #fff;
    font-size: 16px;
    width: 100%;
    padding-left: 12%;
    height: 45px;
    font-family: 'Gudea', sans-serif;
}
body .login_fields__user, body .login_fields__password ,.login_fields__id{
    margin:20px auto;
    position: relative;
    width: 80%;
    /*margin: 0 auto;*/
    color: #fff!important;
}
body .login_fields__submit {
    width: 80%;
    margin: 10px auto;
    margin-top: 40px;
}
body .login_fields__submit .forgot {
    float: right;
    font-size: 10px;
    margin-top: 11px;
    text-decoration: underline;
}
body .login_fields__submit .forgot a {
    color: #606479;
}
body .login_fields__submit input {
    background: #00c6ff;
    padding: 8px 50px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    font-size: 22px;
}
body .login_fields__submit input:hover{
    cursor: pointer;
}
/* Color Schemes */
.love {
    position: absolute;
    right: 20px;
    bottom: 0px;
    font-size: 11px;
    font-weight: normal;
}
.love p {
    color: white;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
.love a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.love img {
    position: relative;
    top: 3px;
    margin: 0px 4px;
    width: 10px;
}

.brand {
    position: absolute;
    left: 20px;
    bottom: 14px;
}
.brand img {
    width: 30px;
}

.page{
    min-width: 1280px;
    box-shadow: -15px 15px 15px rgba(6, 17, 47, 0.7);
    opacity: 1;
    top: 20px;
    text-align: center;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
    -webkit-transition-property: -webkit-transform,opacity,box-shadow,top,left;
    transition-property: transform,opacity,box-shadow,top,left;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transform-origin: 161px 100%;
    -ms-transform-origin: 161px 100%;
    transform-origin: 161px 100%;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    position: relative;
    width: 100%;
    /*border-top: 2px solid #D8312A;*/
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Old browsers */
    /* FF3.6+ */
    /*background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #35394a), color-stop(100%, rgb(0, 0, 0)));*/
    /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(230deg, rgba(53, 57, 74, 0) 0%, rgb(0, 0, 0) 100%);*/
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    /*background: linear-gradient(230deg, rgba(53, 57, 74, 0) 0%, rgb(0, 0, 0) 100%);*/
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(53, 57, 74, 0)', endColorstr='rgb(0, 0, 0)',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}

.page_logo{
    width: 10%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
.errText{
    display: flex;
    align-items: center;
    height: 30px;
    line-height: 30px;
}
.errText i{
    height: 30px;
    line-height: 30px;
}
.errText i img{
    margin-top: 0px!important;
}
footer{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #97a0b4!important;
}
footer p{
    color:#97a0b4!important;
    font-size: 12px;
    margin: 10px;
}
.delText{
    position: absolute;
    display: inline-block;
    height: 100%;
    right: 10px;
    top: 0%;
    width: 20px;
    display: none;
}
.delText img{
    height: 40%;
    position: absolute;
    margin-top: 0px;
    top: 30%;
    display: none;
}

