*{
	border:0;
	margin: 0;
	padding: 0;
}
.border{
	width:80%;
	margin: 0 auto;
}
.agree a{color:#fff;text-decoration:none;}
.header{
	width:100%;
	height:80px;
}
.header .logo{
	float: left;
	display: inline-block;
	height:80px;
	width:220px;
	background: url(../images/logo.jpg) no-repeat 0px -3px;
}
.header .intro{
	float: left;
	display: inline-block;
	height: 80px;
	line-height: 73px;
	margin-left: 20px;
	font-family: "microsoft yahei";
	font-size: 24px;
}
.install_steps{
	width:100%;
	height:40px;
	overflow: hidden;
}
.steps{
	float:left;
	width:18%;
	height:40px;
	position: relative;
	text-align: center;
	color: white;
	line-height: 40px;
	font-family: "微软雅黑";
	font-size: 18px;
	text-indent: 20px;
}
.steps:first-child{
	text-indent: 0;
}
.steps .arrow{
	display: inline-block;
	width:31px;
	min-height: 31px;
	border:4px solid white;
	border-left:0;
	border-top:0;
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
	position: absolute;
	right:-19px;
	top:3px;
	z-index: 10;
}
.steps:last-child .arrow{
	border-style:none;
    right: -16px;
    top: 4px;
}
.steps{
	background-color: #DDDCDC;
}
.steps .arrow{
	background-color: #DDDCDC;
}
.steps.active{
	background-color: #4BBC4B;
}
.steps.active .arrow{
	background-color: #4BBC4B;
}
.num{
	position: absolute;
	left:20px;
	color: white;
	line-height: 40px;
	font-family: "微软雅黑";
	font-size: 22px;
	font-weight: bolder;
}
.rule_title{
    width:100%;
    height:60px;	
    line-height: 60px;
    font-family: "微软雅黑";
    font-size: 26px;
}
.rule_title span{
	text-indent: 10px;
	color: #D9D9D9;
	font-family: "Arial";
	margin-left: 20px;
}
.rules{
	width:100%;
	height:650px;
	border:1px solid #dddddd;
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 13px;
	font-family: "微软雅黑";
	line-height: 24px;
    color: #333;
    padding-left: 10px;
    padding-right: 10px;
}
.rules ol{
	display: inline-block;
	padding-left: 13px;
	padding-right:7px;
}
.btn_group{
	height:40px;
	margin:30px 0;
}
.btn_group input{
	float: left;
	cursor: pointer;
	width:20px;
	height:20px;
	margin-left:0;
	margin-top:10px;
}
.load{position:absolute;top:50%;left:30%;overflow:hidden;display:none;margin:0 auto;width:300px;height:300px;display:block;}
.btn_group div{
	min-width:120px;
	height:40px;
	float:left;
	color:#ffffff;
	margin-left:30px;
	font-family: "微软雅黑";
	text-align: center;
	line-height: 40px;
	cursor: pointer;padding:0 6px;
}
.btn_group .agree{
	background-color: #0093DA;
}
.btn_group .agree:hover{
	background-color: #0488C7;
}


.btn_group .not_agree{
	background-color: #E9433F;
}
.btn_group .not_agree:hover{
	background-color: #D22B27;
}
.btn_group .not_agree{
	background-color: #E9433F;
}
