 /*.ww {
  width:167px;
  top:9px;
  outline:none;
  position:relative;
  line-height:30px;
  left:8px;
  border:1px solid #999;
}
.selectName {
  position:absolute;
  width:169px;
  margin-top:42px;
  margin-left:-161px;
  z-index:999999;
  outline:none;
}*/
.search select option:hover {
  color:white;
  background-color:rgb(12,172,249);
}
.ww {
      width: 257px;
    top: 0px;
    outline: none;
    position: relative;
    line-height: 30px;
    left: 0px;
    border: 1px solid #ddd;
}
.selectName {
      position: absolute;
    width: 259px;
    margin-top: 32px;
    margin-left: -258px;
    z-index: 999999;
    outline: none;
}

